<nav class="navbar navbar-expand-lg navbar-fixed-top bg-blue navbar-light">
    <div class="container-fluid justify-content-between">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->

        <div class="navbar-brand logo"> 
            <img src="../../assets/images/Group_5_300x300.png" class="w-100">
        </div>
        <div class="navbar-header">
            <div class="collapse navbar-collapse navbar-left" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="px-lg-4"><a href="javascript:void(0)" class="text-white">Home</a></li>
                    <li class="px-lg-4"><a href="../collections/all" class="text-white">Service</a></li>
                    <li class="px-lg-4"><a href="javascript:void(0)" class="text-white">Search</a></li>
                    <li class="px-lg-4"><a href="javascript:void(0)" class="text-white">Currency</a></li>
                </ul>
            </div>
        </div>
        <ul class="d-flex list-inline-none header-icons">
            <li>
                <a href="javascript:void(0)" class="font-20 text-white" (click)="this.activeSearch = true"><i class="fa fa-search"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)" class="font-20 text-white"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li class="d-inline-block d-md-none">
              <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars text-white"></i>
              </button>
            </li>
        </ul>
    </div>
<!-- 

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
        </div>
    </div> -->
</nav>
<div class="search-input" *ngIf="this.activeSearch" (click)="this.activeSearch = false;">
  <div class="input-detail">
    <input type="text" class="form-control" placeholder="Search">
  </div>
</div>