<nav class="navbar navbar-expand-lg navbar-fixed-top bg-blue">
    <div class="container-fluid justify-content-start">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->

        <div class="navbar-brand logo"> 
            <img src="../../assets/images/Group_5_300x300.png" class="w-100">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-header">
            <div class="collapse navbar-collapse navbar-left" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="px-lg-4"><a href="#intro" class="text-gray">Home</a></li>
                    <li class="px-lg-4"><a href="#about" class="text-gray">About</a></li>
                    <li class="px-lg-4"><a href="#portfolio" class="text-gray">Menu</a></li>
                    <li class="px-lg-4"><a href="#contact" class="text-gray">Reserve</a></li>
                </ul>
            </div>
        </div>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
<!-- 

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
        </div>
    </div> -->
</nav>