<section class="product-page">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-sm-12 text-center mb-4">
                <h1 class="title text-center">Your Cart</h1>
                <a href="javascript:void(0)" class="text-link text-link--accent text-decoration-none">
                    Continue shopping
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="cart">
                    <div class="table-responsive">
                        <table class="table cart">
                            <thead class="cart-row cart__row--heading">
                                <tr>
                                    <th>Product</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart-row">
                                    <td class="cart-meta">
                                        <div class="cart__product-information">
                                            <div class="cart__image-wrapper">
                                                <img class="cart__image" src="//cdn.shopify.com/s/files/1/0510/5975/3109/products/ScreenShot2021-01-13at1.18.00PM_x190.png?v=1612814831" alt="1 PERSON MUSCLES" data-cart-item-image="" style="cursor: pointer;">
                                            </div>
                                            <div>
                                                <div class="list-view-item__title">
                                                    <a href="javascript:void(0)" class="cart__product-title" data-cart-item-title="">
                                                    1 PERSON MUSCLES
                                                    </a>
                                                </div>
                                                <ul class="product-details list-inline-none px-0" data-cart-item-details="" aria-label="Product details">
                                                    <li class="product-details__item product-details__item--variant-option" data-cart-item-option="">Hours: 3 Hours</li>
                                                    <li class="product-details__item product-details__item--property
                                                " data-cart-item-selling-plan-name=""></li>
                                                    <div class="cart__meta-text">
                                                        <div style="font-size: 14px; margin-bottom: 10px;">Slot Time : 09:00 AM - 09:30 AM</div>
                                                        <div style="font-size: 14px; margin-bottom: 10px;">Slot Date: 2021-08-30</div>
                                                        <div style="font-size: 14px; margin-bottom: 10px;">Enter any additional details about your job : test</div>
                                                        <div style="font-size: 14px; margin-bottom: 10px;">Please enter your job location (Street Address, City, State, Zipcode) : test</div>
                                                        <div style="font-size: 14px; margin-bottom: 10px;">Mobile Number (If we need to reach you) : test</div>
                                                    </div>
                                                </ul>
                        
                                                <p class="cart__remove">
                                                    <a href="/cart/change?line=1&amp;quantity=0" class="text-link text-link--accent border-0" aria-label="Remove 1 PERSON MUSCLES - 3 Hours" data-cart-remove="">Remove</a>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span>$135.00</span>
                                    </td>
                                    <td>
                                        <input type="number" value="1" min="0" pattern="[0-9]" style="width: 60px;">
                                    </td>
                                    <td>
                                        <span>$135.00</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-right pt-4 border-0">Subtotal</td>
                                    <td class="text-right pt-4 border-0">$135.00 USD</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right pb-4 border-0">Taxes and shipping calculated at checkout</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right border-0">
                                        <input type="submit" name="checkout" class="cart__submit btn btn--small-wide" value="Check out">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>