<section class="product-page">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-blue text-center">1 PERSON MUSCLES</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid page-width">
        <div class="row mb-4 mt-5">
            <div class="col-sm-6">
                <img src="//via.placeholder.com/500x500" class="w-100 mb-4">
            </div>
            <div class="col-sm-6">
                <p>Choose Diem for your muscle needs! For moving items within your home, or to save money to move to your new home! We’re here to help! We offer affordable rates, convenient and secure on-demand services throughout 20 major cities across America. </p>
            </div>
        </div>
    </div>
    <div class="choose-dime-section">
        <div class="container-fluid page-width">
            <div class="row ">
                <div class="col-sm-12">
                    <h3>Why Choose Diem</h3>
                </div>
                <div class="col-sm-12 d-flex justify-content-center">
                    <ul class="list-inline-none d-flex w-100 justify-content-between">
                        <li>
                            <img src="../../../assets/images/wcd-01.png">
                            <h5>Affordable <br/> Rates</h5>
                        </li>
                        <li>
                            <img src="../../../assets/images/wcd-02.png">
                            <h5>Convenient</h5>
                        </li>
                        <li>
                            <img src="../../../assets/images/wcd-03.png">
                            <h5>Secure On-Demand Services</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid page-width">
        <div class="row booking-form">
            <div class="col-sm-12 prd_form">
                <div class="padd_area_form">
                    <h3 class="form_pd_head">
                        1 PERSON MUSCLES
                    </h3>
                    <div class="product__price">
                        <dl class="price price--on-sale" data-price="">
                            <div class="price__pricing-group">
                                <!-- <div class="price__regular">
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--regular" data-regular-price="">
                                            <span class="money">$59.00</span>
                                        </span>
                                    </dd>
                                </div> -->
                                <div class="price__sale">
                                    <dd>
                                        <span class="price-item price-item--sale" data-sale-price="">
                                            <span class="money">$59.00</span>
                                        </span>
                                    </dd>
                                    <dd>
                                        <s class="price-item price-item--regular" data-regular-price="">
                                            <span class="money">$85.00</span>
                                        </s>
                                    </dd>
                                </div>
                                <div class="price__badges">
                                    <span class="price__badge price__badge--sale" aria-hidden="true">
                                        <span>Sale</span>
                                    </span>
                                    <span class="price__badge price__badge--sold-out">
                                        <span>Sold out</span>
                                    </span>
                                </div>
                            </div>
                        </dl>
                    </div>
                    <!-- <p class="mjr_text">Choose Diem for your home cleaning needs! We offer affordable rates, convenient and secure on-demand services throughout 30 major cities. You <br> work too hard, seize the day with Diem!</p> -->
                </div>
                <div class="form_book_wrp product-single form">
                    <form class="booking-form-fields" [formGroup]="detailForm">
                        <div class="row padd_area_form">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label>Hours</label>
                                    <select class="form-control" formControlName="hours">
                                        <option>1 Hour</option>
                                        <option>2 Hours</option>
                                        <option>3 Hours</option>
                                        <option>4 Hours</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row padd_area_form pt-">
                            <div class="col-md-4 mb-4">
                                <label class="required">Search Slots</label>
                                <input type="date" class="form-control" formControlName="date">
                            </div>
                            <div class="col-md-4 mb-4">
                                <label>Time Slot</label>
                                <select class="form-control" formControlName="slot_data">
                                    <option>Select time slot</option>
                                    <option>07:00 AM - 07:30 AM</option>
                                    <option>07:30 AM - 08:00 AM</option>
                                    <option>08:00 AM - 08:30 AM</option>
                                    <option>08:30 AM - 09:00 AM</option>
                                    <option>09:00 AM - 09:30 AM</option>
                                    <option>09:30 AM - 10:00 AM</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-4">
                                <label class="required">Number of Guest</label>
                                <input type="number" class="form-control" formControlName="guest_number">
                            </div>
                            <div class="col-md-4 mb-4">
                                <label class="required">Enter any additional details about your job</label>
                                <input type="text" class="form-control" formControlName="job_detail">
                            </div>
                            <div class="col-md-4 mb-4">
                                <label class="required">Please enter your job location (Street Address, City, State, Zipcode)</label>
                                <input type="text" class="form-control" formControlName="zipcode">
                            </div>
                            <div class="col-md-4 mb-4">
                                <label class="required">Mobile Number (If we need to reach you)</label>
                                <input type="text" class="form-control" formControlName="phone">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" name="add" aria-label="Add to cart" class=" product-form__cart-submit" (click)="onSubmit()" [disabled]="detailForm?.invalid">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="shopify-section-product-last-banner" class="shopify-section pd-lst-bnr">
        <div class="product_last_bnr">
            <div class="page-width">
                <div class="prd_inn_bnr">
                    <div class="left_lst_prd">
                        <h3 class="pdt_bnr">
                            Order on Our Top-<br>Rated App
                        </h3>
                        <p class="pdg_desc">
                            Download on our free app to order on the go! Order all services and get access to many other features through our app!
                        </p>
                        
                        <div class="hero_sec_img download_app">
                            <div class="hero_inner_img">
                                <a href="https://apps.apple.com/ca/app/diem-home-services/id1422037593" aria-describedby="a11y-external-message">
                                    <img src="//cdn.shopify.com/s/files/1/0510/5975/3109/files/02_300x300.png?v=1614349012" data-aos="fade-right" class="aos-init">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=app.diem.requestor&amp;hl=en_CA&amp;gl=US" aria-describedby="a11y-external-message">
                                    <img src="//cdn.shopify.com/s/files/1/0510/5975/3109/files/Group_273_300x300_9954ff4f-2be5-4d53-9d87-9ab9a1993c52_300x300.png?v=1615900196" data-aos="fade-left" class="aos-init">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="left_lst_prd img_lst_prd aos-init aos-animate" data-aos="zoom-out-left">
                        <img src="//cdn.shopify.com/s/files/1/0510/5975/3109/files/png-mb-mockup_1.png?v=1614618145">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Cart popup-->

<div class="cart-popup-wrapper critical-hidden" role="dialog" aria-modal="true" *ngIf="this.cartModalShow">
    <div class="cart-popup" data-cart-popup="" tabindex="-1">
        <div class="cart-popup__header">
            <h2 id="CartPopupHeading" class="cart-popup__heading">Just added to your cart</h2>
            <button class="cart-popup__close bg-transparent border-0" aria-label="Close" (click)="this.cartModalShow = false;">
                <i class="fa fa-times text-dark"></i>
            </button>
        </div>
        <div class="cart-popup-item">
            <div class="cart-popup-item__image-wrapper" data-cart-popup-image-wrapper="">
                <img src="//cdn.shopify.com/s/files/1/0510/5975/3109/products/ScreenShot2021-01-13at1.18.00PM_200x.png?v=1612814831" alt="1 PERSON MUSCLES" class="cart-popup-item__image" data-cart-popup-image="">
            </div>
            <div class="cart-popup-item__description">
                <div>
                    <h3 class="cart-popup-item__title" data-cart-popup-title="">1 PERSON MUSCLES</h3>
                    <ul class="product-details list-inline-none">
                        <li class="product-details__item product-details__item--variant-option">Hours: 3 Hours</li>
                        <li class="product-details__item product-details__item--property"><span class="product-details__property-label">wk_booking: </span>Object</li>
                    </ul>
                </div>
                <div class="cart-popup-item__quantity">
                    <span aria-hidden="true">Qty:</span>
                    <span aria-hidden="true">1</span>
                </div>
            </div>
        </div>
  
        <a href="../cart" class="cart-popup__cta-link btn btn--secondary-accent">
            View cart (<span data-cart-popup-cart-quantity="" aria-label="1 item">1</span>)
        </a>
  
        <div class="cart-popup__dismiss">
            <button class="cart-popup__dismiss-button text-link text-link--accent">
            Continue shopping
            </button>
        </div>
    </div>
</div>