<section class="product-page">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title text-center">Products</h1>
            </div>
        </div>
        <div class="row  border-top border-bottom filter-list mb-4">
            <div class="col-sm-12">
                <ul class="list-inline-none d-flex  mb-0 py-3 px-2 row">
                    <li class="d-flex col-sm-4 col-md-3"> 
                        <span class="text-uppercase">FILTER BY</span> 
                        <select class="border-0 bg-transparent">
                            <option>All Products</option>
                            <option>wk_booking</option>
                        </select>
                    </li>
                    <li class="d-flex col-sm-4 col-md-3">
                        <span class="text-uppercase">Sort By</span>
                        <select class="border-0 bg-transparent">
                            <option>Featured</option>
                            <option>Best Selling</option>
                            <option selected>Alphabetically, A-Z</option>
                            <option>Alphabetically, Z-A</option>
                            <option>Price, Low to High</option>
                            <option>Price, High to Low</option>
                            <option>Date, old to new</option>
                            <option>Date, new to old</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="product-card">
                    <a href="../collections/detail" class="text-decoration-none">
                        <img src="//via.placeholder.com/275x250" class="w-100 mb-4">
                        <h4 class="text-underline">1 PERSON MUSCLES</h4>
                        <p class="price mb-2"><span class="text-blue">from $59.00</span> <span class="old-price">$85.00</span></p>
                        <div class="price__badges price__badges--listing">
                            <span class="price__badge sale-tag text-white mr-4 d-inline-block">SALE</span>
                            <span class="price__badge price__badge--sold-out">
                                <span>Sold out</span>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="product-card">
                    <a href="../collections/detail" class="text-decoration-none">
                        <img src="//via.placeholder.com/275x250" class="w-100 mb-4">
                        <h4 class="text-underline">1 PERSON MUSCLES</h4>
                        <p class="price mb-2"><span class="text-blue">from $59.00</span> <span class="old-price">$85.00</span></p>
                        <div class="price__badges price__badges--listing">
                            <span class="price__badge sale-tag text-white mr-4 d-inline-block">SALE</span>
                            <span class="price__badge price__badge--sold-out">
                                <span>Sold out</span>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="product-card">
                    <a href="../collections/detail" class="text-decoration-none">
                        <img src="//via.placeholder.com/275x250" class="w-100 mb-4">
                        <h4 class="text-underline">1 PERSON MUSCLES</h4>
                        <p class="price mb-2"><span class="text-blue">from $59.00</span> <span class="old-price">$85.00</span></p>
                        <div class="price__badges price__badges--listing d-flex align-items-center">
                            <span class="price__badge sale-tag text-white mr-4 d-inline-block">SALE</span>
                            <span class="price__badge price__badge--sold-out">
                                <span>Sold out</span>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</section>