
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <img src="../assets/images/logo.png" alt="logo" class="brand-image" style="width: 100px; height: 60px;">
            <!-- <span class="brand-text font-weight-light">RapidCAD</span> -->
          </a>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="dropdown-item"  href="javascript:void(0)" (click)="logout()">
              <i class="fa fa-sign-out text-gray-400" aria-hidden="true"></i>
              Logout
            </a>
            
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->
