<div class="login-block" >
    <div class="container mx-auto">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-5 col-lg-5 login-sec">
          <h2 class="text-center">Forgot Password?</h2>
          <form class="login-form">
            <div class="form-group">
                <label for="username">Enter your email</label>
                <input type="text" class="form-control">
            </div>
            
            <div class="form-check mt-3 ml-auto">
                <input type="submit" value="Get Password Reset Link" class="btn btn-login float-center" >
    
            </div>
        </form>
  
        </div>
        <div class="col-md-7 col-sm-6 col-lg-7 col-xl-7 col-lg-7 banner-sec">
          
        </div>
      </div>
    </div>
  </div>