<div *ngIf="stage === 'initial'" class="login-block" >
    <div class="container mx-auto">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-5 col-lg-5 login-sec">
          <h2 class="text-center">Forgot Password?</h2>
          <form class="login-form" [formGroup]="forgetPasswordForm">
            <div class="form-group">
                <label for="username">Enter your email</label>
                <input type="text" class="form-control" formControlName="email"> 
            </div>
            
            <div class="mt-4" style="padding-left: 0 !important;">
              <label class="form-check-label">
                <small><i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;"></i>
                <a class="txt2" [routerLink]="['/admin', 'login']">Login here</a></small>
              </label>
              <button type="submit" (click)="onGeneratePasswordResetLink()" class="btn btn-login float-right" >Get Password Reset Link</button>
    
            </div>
        </form>
        <div class="copy-text">Loomaster <i class="fa fa-heart"></i> provide services!</div>
        </div>
        <div class="col-md-7 col-sm-6 col-lg-7 col-xl-7 col-lg-7 banner-sec">
          
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="stage === 'final'" class="login-block" >
    <div class="container mx-auto">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-5 col-lg-5 login-sec">
          <h2 class="text-center">Reset Your Password</h2>
          <form class="login-form" [formGroup]="completeForgetPasswordForm">
            <div class="form-group">
                <label for="username">New password</label>
                <input type="password" class="form-control" formControlName="newPassword">
            </div>
            <div class="form-group">
                <label for="username">Confirm your password</label>
                <input type="password" class="form-control" formControlName="confirmPassword">
            </div>
            
            <div class="mt-4" style="padding-left: 0 !important;">
              <label class="form-check-label">
                <small><i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;"></i>
                <a class="txt2" href="admin/login">Login here</a></small>
              </label>
                <button (click)="onCompleteForgetPasswordProcess()" class="btn btn-login float-right" >Submit</button>
    
            </div>
        </form>
        <div class="copy-text">Loomaster <i class="fa fa-heart"></i> provide services!</div>
        </div>
        <div class="col-md-7 col-sm-6 col-lg-7 col-xl-7 col-lg-7 banner-sec">
          
        </div>
      </div>
    </div>
  </div>